@import "./reset.scss";

// *** PROJECT 01 ***
// body {
// 	background-color: #dce6d1;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	height: 90vh;
// }

// .phone {
// 	background-color: black;
// 	border-radius: 50px;
// 	height: 95%;
// 	width: 480px;
// 	padding: 50px 20px;
// 	box-sizing: border-box;
// }

// .header {
// 	overflow-x: scroll;
// 	overflow: hidden;
// 	.header__list {
// 		display: flex;
// 		color: white;
// 		gap: 10px;
// 		width: max-content;
// 		.header__list-item {
// 			border: 1px solid rgba($color: #fff, $alpha: 0.5);
// 			padding: 10px;
// 			border-radius: 20px;
// 		}
// 		.header__list-item--inverted {
// 			background-color: white;
// 			color: black;
// 		}
// 	}
// }

// .cards {
// 	margin: 20px 0px;
// 	display: grid;
// 	grid-template-columns: repeat(2, 1fr);
// 	gap: 10px;
// 	.cards__card {
// 		background-color: white;
// 		padding: 10px;
// 		border-radius: 15px;
// 		display: flex;
// 		flex-direction: column;
// 		gap: 40px;
// 		justify-content: space-between;
// 		.card__title {
// 			font-size: 28px;
// 			font-weight: bold;
// 		}
// 		.card__footer {
// 			font-size: 14px;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 			span {
// 				padding: 5px 10px;
// 				border-radius: 20px;
// 				border: 1px solid black;
// 			}
// 			.price {
// 				background-color: rgb(255, 221, 44);
// 			}
// 			.length {
// 				background-color: white;
// 			}
// 		}
// 		&:first-child {
// 			background-color: #292d33;
// 			border: 1px solid white;

// 			.card__title {
// 				color: white;
// 			}
// 		}
// 		&:nth-child(2) {
// 			background-color: #f5f4ef;
// 		}
// 		&:nth-child(3) {
// 			background-color: #f8fcb5;
// 		}
// 		&:nth-child(4) {
// 			background-color: #b19ff6;
// 		}
// 		&:nth-child(5) {
// 			background-color: #fed3d3;
// 		}
// 		&:last-child {
// 			background-color: #d0fedf;
// 		}
// 		&:nth-child(3n) {
// 			grid-column: span 2;
// 			.price {
// 				background-color: #e9aefc;
// 			}
// 		}
// 	}
// }

// *** PROJECT 02 ***
// $grey: #e1e1e1;

// body {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	height: 100vh;
// 	background-color: #babebe;
// }

// .phone {
// 	width: 480px;
// 	height: 90%;
// 	border-radius: 10px;
// 	background-color: $grey;
// 	box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.5);
// }

// .header {
// 	padding: 50px 15px 20px 15px;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	.header__title {
// 		text-transform: uppercase;
// 		font-weight: bold;
// 	}
// }

// .total {
// 	background-color: black;
// 	padding: 30px 15px;
// 	color: $grey;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: flex-end;
// 	font-weight: bold;
// 	gap: 10px;
// 	.total__price {
// 		font-size: 22px;
// 	}
// 	.total__subtitle {
// 		font-size: 14px;
// 	}
// }

// .items {
// 	background-color: #c6caca;
// 	display: flex;
// 	flex-direction: column;
// 	gap: 15px;
// 	.item {
// 		border-top: 5px solid black;
// 		position: relative;
// 		.item__info {
// 			background-color: #d7dbdb;
// 			padding: 30px 15px;
// 			display: grid;
// 			grid-template-columns: repeat(2, 1fr);
// 			align-items: flex-start;
// 			.item__info-col {
// 				font-weight: bold;
// 				display: flex;
// 				flex-direction: column;
// 				gap: 5px;
// 				&:nth-child(2) {
// 					align-items: flex-end;
// 				}
// 			}
// 			.item__title {
// 				font-weight: bold;
// 				font-size: 42px;
// 			}
// 			.item__subtitle {
// 				font-size: 14px;
// 			}
// 			.item__total-price {
// 				font-size: 34px;
// 			}
// 			.item__piece-price {
// 				font-size: 18px;
// 			}
// 		}
// 	}
// }

// .item__specs {
// 	border-top: 5px solid black;
// 	border-bottom: 5px solid black;
// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, 125px);
// 	background-color: #d7dbdb;
// 	.spec {
// 		padding: 25px;
// 		display: flex;
// 		font-weight: bold;
// 		flex-direction: column;
// 		justify-content: center;
// 		&:last-child {
// 			border-left: 5px solid black;
// 		}
// 	}
// }

// .item__photo {
// 	position: absolute;
// 	width: 30%;
// 	height: 60%;
// 	border: 5px solid black;
// 	right: 15px;
// 	bottom: 0px;
// 	object-fit: cover;
// }

// *** PROJECT 03 ***
// $borderColor: rgba(0, 0, 0, 0.4);
// $borderWidth: 2px;

// body {
// 	height: 100vh;
// 	display: grid;
// 	grid-template-rows: 1fr 10fr;
// }

// .header {
// 	.header__nav {
// 		ul {
// 			display: grid;
// 			grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
// 			background-color: $borderColor;
// 			gap: $borderWidth;
// 			.header__tab {
// 				background-color: white;
// 				padding: 30px 0px;
// 				text-align: center;
// 				font-weight: 300;
// 				font-size: 14px;
// 				&:nth-child(6) {
// 					text-transform: uppercase;
// 					font-weight: bold;
// 					font-size: 22px;
// 				}
// 			}
// 		}
// 	}
// 	.header__breadcrumbs {
// 		border-bottom: $borderWidth solid $borderColor;
// 		border-top: $borderWidth solid $borderColor;
// 		padding: 10px 0px;
// 		padding-left: 50px;
// 		font-size: 12px;
// 		.header__crumb {
// 			font-weight: 500;
// 			&:last-child {
// 				color: $borderColor;
// 			}
// 		}
// 	}
// }

// .product {
// 	display: grid;
// 	grid-template-columns: 1fr 1.3fr;
// 	background-color: $borderColor;
// 	gap: $borderWidth;
// 	.product__img {
// 		background-image: url("https://source.unsplash.com/random");
// 		background-size: cover;
// 	}
// 	.product__info {
// 		gap: $borderWidth;
// 		display: grid;
// 		grid-template-rows: 1.5fr 1fr;
// 		.product__header {
// 			background-color: white;
// 			display: flex;
// 			gap: 20px;
// 			flex-direction: column;
// 			justify-content: center;
// 			padding: 0 50px;
// 			font-weight: 500;
// 			text-transform: uppercase;
// 			.product__category {
// 				font-size: 22px;
// 			}
// 			.product__title {
// 				font-size: 44px;
// 			}
// 			.product__add-to-cart {
// 				margin-top: 30px;
// 				display: flex;
// 				gap: 60px;
// 				.product__qty {
// 					font-size: 22px;
// 					display: flex;
// 					gap: 10px;
// 					.product__minus {
// 						color: $borderColor;
// 					}
// 				}
// 				.product__price {
// 					font-size: 22px;
// 				}
// 			}
// 		}
// 	}
// 	.product__footer {
// 		display: grid;
// 		grid-template-columns: repeat(2, 1fr);
// 		gap: $borderWidth;
// 		& > div {
// 			background-color: white;
// 		}
// 		.product__description p {
// 			width: 70%;
// 			margin: 0 auto;
// 			padding: 25px 0px;
// 			font-size: 14px;
// 		}
// 		.product__faq {
// 			padding: 50px;
// 			display: flex;
// 			flex-direction: column;
// 			gap: 20px;
// 			.product__question {
// 				border-bottom: $borderWidth solid $borderColor;
// 				display: flex;
// 				justify-content: space-between;
// 				text-transform: uppercase;
// 				font-weight: 600;
// 				padding-bottom: 10px;
// 			}
// 		}
// 	}
// }

// *** PROJECT 04 ***
// $gridGap: 5px;
// $cellRadius: 12px;

// body {
// 	height: 100vh;
// 	background-color: #7d4aa9;
// 	display: flex;
// 	justify-content: center;
// 	align-items: flex-end;
// }

// .wrapper {
// 	max-width: 80%;
// 	height: 95%;
// 	padding: 40px;
// 	box-sizing: border-box;
// 	background-color: black;
// 	.grid {
// 		display: grid;
// 		grid-template-columns: 1.5fr 1fr;
// 		height: 100%;
// 		gap: $gridGap;
// 		.grid__col {
// 			&:first-child {
// 				display: grid;
// 				background-color: black;
// 				gap: $gridGap;
// 				grid-template-columns: repeat(2, 1fr);
// 				grid-template-rows: 1.8fr 1fr;
// 				.header {
// 					grid-column: span 2;
// 					border-radius: $cellRadius;
// 					background-color: white;
// 					padding: 40px;
// 					display: grid;
// 					grid-template-rows: 1fr 3fr 1fr;
// 					.header__top {
// 						display: flex;
// 						align-items: flex-start;
// 						justify-content: flex-end;
// 						gap: 20px;
// 						.header__reviews {
// 							font-size: 18px;
// 							font-weight: 400;
// 						}
// 						.header__label {
// 							border-radius: $cellRadius;
// 							background-color: #ffc830;
// 							text-transform: uppercase;
// 							font-size: 12px;
// 							font-weight: 600;
// 							padding: 5px 10px;
// 						}
// 					}
// 					.header__title {
// 						font-size: 98px;
// 						font-weight: bold;
// 						align-self: center;
// 						justify-self: center;
// 					}
// 					.header__subtitle {
// 						font-size: 40px;
// 						font-weight: 500;
// 						border-top: 2px solid black;
// 						padding-top: 20px;
// 					}
// 				}
// 			}
// 			&:last-child {
// 				display: grid;
// 				gap: $gridGap;
// 				grid-template-columns: 1fr;
// 				grid-template-rows: 1.8fr 1fr;
// 				.subgrid {
// 					display: grid;
// 					gap: $gridGap;
// 					grid-template-columns: 1.5fr 1fr;
// 					grid-template-rows: 1.3fr 1fr;
// 					.nav {
// 						color: white;
// 						display: flex;
// 						flex-direction: column;
// 						justify-content: space-between;
// 						padding: 30px;
// 						text-transform: uppercase;
// 						ul {
// 							display: flex;
// 							flex-direction: column;
// 							gap: 30px;
// 							font-size: 12px;
// 						}
// 						.nav__cta {
// 							font-size: 18px;
// 						}
// 					}
// 					.grid__cells {
// 						display: grid;
// 						gap: $gridGap;
// 						grid-template-rows: repeat(2, 1fr) 2fr;
// 						.grid__cell {
// 							border-radius: $cellRadius;
// 							font-size: 12px;
// 							text-transform: uppercase;
// 							padding: 20px;
// 							&:first-child {
// 								background-color: #ffc830;
// 							}
// 							&:nth-child(2) {
// 								background-color: white;
// 								transform: rotateZ(7deg);
// 								box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
// 							}
// 						}
// 						.grid__cell-cta {
// 							color: white;
// 							text-transform: uppercase;
// 							font-size: 18px;
// 							padding-left: 20px;
// 							align-self: center;
// 						}
// 					}
// 				}
// 				.blog-post {
// 					background-color: white;
// 					border-radius: $cellRadius;
// 					display: flex;
// 					align-items: flex-end;
// 					font-size: 14px;
// 					p {
// 						padding: 20px;
// 						width: 80%;
// 					}
// 				}
// 			}
// 		}
// 		.grid__img {
// 			background-image: url("https://source.unsplash.com/random");
// 			background-size: cover;
// 			border-radius: $cellRadius;
// 		}
// 	}
// }

// *** PROJECT 05 ***
// body {
// 	height: 100vh;
// 	display: grid;
// 	grid-template-columns: 50px 1fr 50px;
// 	grid-template-rows: 50px 1fr 50px;
// 	.bar {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		font-weight: 500;
// 		font-size: 18px;
// 		text-transform: uppercase;
// 		&:first-child,
// 		&:last-child {
// 			grid-column: span 3;
// 		}
// 		&:nth-child(2) span {
// 			transform: rotateZ(-90deg);
// 		}
// 		&:nth-child(4) span {
// 			transform: rotateZ(90deg);
// 		}
// 	}
// 	.main {
// 		overflow-y: scroll;
// 		height: 100%;
// 		padding: 0px 30px 30px 30px;
// 		box-sizing: border-box;
// 		border: 2px solid black;
// 		.nav ul {
// 			display: grid;
// 			.main__nav-item {
// 				padding: 15px;
// 				text-align: center;
// 				text-transform: uppercase;
// 				font-size: 22px;
// 				font-weight: 600;
// 				border-bottom: 2px solid black;
// 			}
// 		}
// 	}
// 	.filter {
// 		margin: 30px 0px;
// 		display: flex;
// 		justify-content: space-between;
// 		text-transform: uppercase;
// 		font-weight: 600;
// 		.filter__types {
// 			display: flex;
// 			gap: 10px;
// 			color: gray;
// 			.filter__name--selected {
// 				color: black;
// 			}
// 		}
// 	}
// 	.projects {
// 		display: grid;
// 		gap: 30px;
// 		grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
// 		.project {
// 			display: flex;
// 			flex-direction: column;
// 			gap: 10px;
// 			font-weight: 600;
// 			.project__img {
// 				width: 100%;
// 			}
// 		}
// 	}
// }

// *** PROJECT 06 ***
// $bg: #e4e5e9;
// $black: #393e44;
// $red: #e21a00;
// $gray: #cbcfd2;
// $blue: #392aa9;
// $darkGray: #7f848a;
// $yellow: #edc212;

// body {
// 	background-color: $black;
// 	height: 100vh;
// 	display: grid;
// 	grid-template-columns: 1fr 1.3fr;
// 	color: $black;
// 	gap: 2px;
// }

// .info {
// 	display: grid;
// 	gap: 2px;
// 	grid-template-columns: repeat(3, 1fr);
// 	grid-template-rows: repeat(4, 1fr);
// 	.info__hd,
// 	.info__space,
// 	.info__settings {
// 		background-color: $bg;
// 	}
// 	.info__space {
// 		grid-row: 1 / span 2;
// 		grid-column: 2 / span 2;
// 	}
// 	.info__settings {
// 		grid-row: 3 / span 2;
// 		grid-column: 2 / span 2;
// 	}
// 	.info__hd {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		flex-direction: column;
// 		gap: 20px;
// 		.hd__stacks {
// 			div {
// 				width: 50px;
// 				height: 10px;
// 				border-radius: 10px;
// 				border: 1px solid rgba(0, 0, 0, 0.3);
// 				&:first-child,
// 				&:last-child {
// 					background-color: white;
// 				}
// 				&:nth-child(2) {
// 					background-color: $blue;
// 				}
// 				&:nth-child(3) {
// 					background-color: $red;
// 				}
// 				&:nth-child(4) {
// 					background-color: $gray;
// 				}
// 			}
// 		}
// 		.hd__discs {
// 			position: relative;
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			div:first-child {
// 				height: 110px;
// 				width: 110px;
// 				border-radius: 50%;
// 				background-color: $black;
// 			}
// 			div:last-child {
// 				height: 22px;
// 				width: 22px;
// 				border-radius: 11px;
// 				background-color: $bg;
// 				position: absolute;
// 			}
// 		}
// 		.hd__discs-red {
// 			div:first-child {
// 				background-color: $red;
// 			}
// 		}
// 		.hd__discs-gray {
// 			div:first-child {
// 				background-color: $gray;
// 			}
// 		}
// 		.hd__footer {
// 			width: 80%;
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 			.hd__full {
// 				display: flex;
// 				align-items: center;
// 				gap: 2.5px;
// 				justify-content: space-between;
// 				span {
// 					height: 5px;
// 					width: 5px;
// 					border-radius: 2.5px;
// 					background-color: $black;
// 				}
// 			}
// 		}
// 	}
// 	.info__settings {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 80px;
// 		justify-content: center;
// 		align-items: center;
// 		font-size: 28px;
// 		font-weight: 300;
// 		text-transform: uppercase;
// 		i {
// 			margin-right: 10px;
// 		}
// 	}
// 	.info__space {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 		gap: 50px;
// 		.info__space-item {
// 			h3 {
// 				text-transform: uppercase;
// 				font-size: 18px;
// 				font-weight: 300;
// 			}
// 			h2 {
// 				font-size: 144px;
// 			}
// 		}
// 	}
// }

// .stats {
// 	display: grid;
// 	grid-template-rows: 2fr 1fr 1.5fr 2.5fr 3.5fr;
// 	.stats__stat {
// 		padding: 20px;
// 		&:first-child {
// 			background-color: white;
// 		}
// 		&:nth-child(2) {
// 			background-color: $yellow;
// 		}
// 		&:nth-child(3) {
// 			background-color: $darkGray;
// 		}
// 		&:nth-child(4) {
// 			background-color: $red;
// 			color: white;
// 		}
// 		&:last-child {
// 			background: $blue;
// 			color: white;
// 		}
// 		.stat__info {
// 			display: flex;
// 			justify-content: space-between;
// 			align-items: center;
// 			font-size: 28px;
// 			font-weight: 300;
// 			text-transform: uppercase;
// 		}
// 	}
// }

// *** PROJECT 07 ***
// $bg: #f0f0f0;
// $accent: #c7c2cc;
// $borderWidth: 2px;

// @keyframes slide {
// 	0% {
// 		transform: translateY(-3000%) rotateZ(90deg);
// 	}
// 	100% {
// 		transform: translateY(calc(0% - 65px)) rotateZ(90deg);
// 	}
// }

// body {
// 	height: 100vh;
// 	display: grid;
// 	gap: $borderWidth;
// 	background-color: black;
// 	grid-template-rows: 10fr 10fr 45fr 35fr;
// 	grid-template-columns: 0.3fr repeat(4, 1fr);
// 	div {
// 		background-color: $bg;
// 		overflow: hidden;
// 		img {
// 			width: 100%;
// 			height: 100%;
// 			object-fit: cover;
// 		}
// 		&:nth-child(11) {
// 			grid-column: span 3;
// 		}
// 	}
// 	.logo {
// 		grid-area: span 2 / span 2;
// 		font-size: 198px;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 	}
// 	.title {
// 		grid-column: span 3;
// 		font-size: 78px;
// 		font-weight: bold;
// 		text-transform: uppercase;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 	}
// 	.banner {
// 		grid-row: span 2;
// 		background-color: black;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		overflow: hidden;
// 		position: relative;
// 		text-transform: lowercase;
// 		span {
// 			position: absolute;
// 			width: max-content;
// 			color: white;
// 			font-size: 26px;
// 			font-weight: bold;

// 			animation: slide 5s linear infinite;
// 		}
// 	}
// 	.nav-btn {
// 		display: flex;
// 		justify-content: center;
// 		flex-direction: column;
// 		padding-left: 20px;
// 		gap: 10px;
// 		text-transform: lowercase;
// 		.nav-btn__name {
// 			font-weight: bold;
// 			font-size: 28px;
// 		}
// 		.nav-btn__desc {
// 			font-size: 18px;
// 		}
// 	}
// 	.post {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 10px;
// 		padding: 20px;
// 		&.post--big {
// 			.post__title {
// 				font-size: 200px;
// 				text-transform: uppercase;
// 			}
// 		}
// 		.post__title {
// 			font-size: 44px;
// 			font-weight: bold;
// 		}
// 		p {
// 			font-size: 22px;
// 		}
// 	}
// 	.featured {
// 		background-color: $accent;
// 		padding: 50px;
// 		display: flex;
// 		div {
// 			background-color: $bg;
// 			border: $borderWidth solid black;
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			h3 {
// 				text-align: center;
// 				font-size: 48px;
// 				font-weight: bold;
// 			}
// 		}
// 	}
// }

// *** PROJECT 08 ***
$green: #01ff00;
$gray: #d9d9d9;
$lightGray: #f0f0f0;
$darkGray: #a5a5a5;

@keyframes top-slide {
	0% {
		transform: translateX(-25%);
	}
	50% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-25%);
	}
}

@keyframes bottom-slide {
	0% {
		transform: translateX(25%);
	}
	50% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(25%);
	}
}

@keyframes left-slide {
	0% {
		transform: translateY(10000%) rotateZ(90deg);
	}
	50% {
		transform: translateY(0%) rotateZ(90deg);
	}
	100% {
		transform: translateY(10000%) rotateZ(90deg);
	}
}

@keyframes right-slide {
	0% {
		transform: translateY(-10000%) rotateZ(-90deg);
	}
	50% {
		transform: translateY(0%) rotateZ(-90deg);
	}
	100% {
		transform: translateY(-10000%) rotateZ(-90deg);
	}
}

body {
	background-color: $green;
	height: 100vh;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 50px 1fr 50px;
}

.border-bar {
	background-color: $green;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	span {
		font-weight: bold;
		font-size: 18px;
		position: absolute;
		width: max-content;
	}
	&:first-child,
	&:last-child {
		grid-column: span 3;
	}
	&:not(:first-child, :last-child) {
		grid-row: span 3;
	}
	&:first-child {
		span {
			animation: top-slide 40s linear infinite;
		}
	}
	&:nth-child(2) {
		span {
			animation: left-slide 20s linear infinite;
		}
	}
	&:nth-child(4) {
		span {
			animation: right-slide 20s linear infinite;
		}
	}
	&:nth-child(5) {
		span {
			animation: bottom-slide 40s linear infinite;
		}
	}
}

main {
	display: grid;
	gap: 2px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	background-color: black;
	height: calc(100vh - 100px);
	> div {
		background-color: $gray;
		overflow: hidden;
		&:has(img) {
			padding: 20px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:nth-child(5) {
			grid-column: span 2;
		}
		&:nth-child(7) {
			grid-column: span 2;
			grid-row: span 4;
		}
		&:nth-child(8),
		&:nth-child(13) {
			grid-column: span 4;
		}
		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12),
		&:nth-child(14) {
			grid-column: span 2;
			background-color: $lightGray;
		}
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12),
		&:nth-child(13),
		&:nth-child(14) {
			grid-row: span 2;
		}
		&:nth-child(11) {
			border-bottom-right-radius: 15px;
		}
		&:nth-child(12) {
			border-bottom-left-radius: 15px;
		}
		&:nth-child(13) {
			border-top-right-radius: 15px;
		}
		&:nth-child(14) {
			border-top-left-radius: 15px;
		}
	}
	.title {
		grid-row: span 2;
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 172px;
		font-weight: 800;
		text-transform: uppercase;
	}
	.nav-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 800;
		font-size: 22px;
	}
	.article {
		display: flex;
		padding: 0px 20px;
		align-items: center;
		.main__title {
			font-weight: 800;
			font-size: 22px;
		}
		.article__date {
			color: $darkGray;
			margin-left: 5px;
		}
	}
	.article-with-text {
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
		.article__info {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		.article__main {
			.main__title {
				margin-bottom: 20px;
			}
		}
	}
	.article-with-subs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 30px;
		.main__subs {
			width: 100%;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $darkGray;
			div {
				padding-bottom: 10px;
				&:last-child {
					font-weight: 800;
					font-size: 22px;
				}
			}
		}
	}
}
